.content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.card{ 
  border: 1px solid #dddddd;
  flex: 0 0 45rem;
  background-color: $cardbg;
  overflow: hidden;
  border-radius: 1rem;
  margin: 2rem;
display: flex;
flex-direction: column;
justify-content: space-between;

  
  &__title{
    width: 100%;
    height: 5rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    }

  &__delete{
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;
  }

  &__edit{
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__add{
    width: 20rem;
    height: 20rem;
    background-color: $itemaddbg;
    display:  flex;
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: center;
    
  }

  &__addlink{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: all .3s;
  
    svg{
    width: 4rem;
    height: 4rem;
    transition: all .3s;
    }
    
    &:hover{
      background-color: #8f97a5;
    }
    &:hover svg{
      width: 6rem;
      height: 6rem;
    }
  }

 
}


.additem{
  // visibility: hidden;
  margin: 1rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    justify-self: start;
 margin-bottom: auto;
     
    &__input{
      flex: 1 1 100%;
      background-color: #fff;
      height: 4rem;
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid rgba(73, 73, 73, 0.26);
    }
}