.content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.card{ 
  border: 1px solid #dddddd;
  flex: 0 0 45rem;
  background-color: $cardbg;
  overflow: hidden;
  border-radius: 1rem;
  margin: 2rem;

  
  &__title{
    width: 100%;
    height: 5rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    }

  &__delete{
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    justify-content: center;
    align-items: center;
    background-color: $btncolor;
    cursor: pointer;
  }


  &__add{
    width: 20rem;
    height: 20rem;
    background-color: $itemaddbg;
   
    display:  flex;
   width: 100%;
   height: 10rem;
   align-items: center;
  justify-content: center;
    
  }

  &__addlink{
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__svg{

    width: 10rem;
    height: 10rem;
  }
}
