@import 'variables','header','category','card','item';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}

body{
  background-color: $bgcolor;
  font-size: 16px;  
  font-size: 1.6rem;  
  line-height: 1.5; 
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: 120rem;
  height: 100vh;
  margin: 0 auto;
}

.commonbtn{
  position: absolute;
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  svg{
    width: 2.5rem;
    height: 2.5rem;
  }

  &:hover{
    background-color: rgba(252, 132, 132, 0.493);
  }
}
 
.svgs{
  display: none;
}
 